*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: #dfd09bff;
}
.main-container{
    background-color: #dfd09bff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vmin;
    position: absolute;
    top: 30px;
    
}
.row h1{ 
    color: black;
    padding-top: 0;
    margin-top: 10px;
    font-size: 45px;
}

.theme-btn{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

}

.light-btn{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("./images/sun.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.1);
    
}

.light-btn:hover{
    background-image: url("./images/light-mode.png");
}

.dark-btn{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("./images/moon.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1);
}
.dark-btn:hover{
    background-image: url("./images/dark-mode.png");

}
.container{

    width: 120%;
    max-width: 550px;
    background-color: #16404D;
    margin: 85px auto 20px;
    padding: 40px 30px 15px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#addTaskBtn{
    box-sizing: content-box;
    background-color: #DDA853;
    color: black;
    font-weight: 600;
    height: 6.7vmin;
    width: 15vmin;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    padding: 0 3px;
}
#addTaskBtn:hover{

    box-shadow: 0 0 10px black;
}

#taskInput{
    height: 8vmin;
    width: 60vmin;
    font-size: 3vmin;
    background-color: #E6EBE5;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
#taskInput:hover{
    box-shadow: 0 0 10px black;
}

#taskList{
    margin-top: 45px;
    height: 295px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
#taskList li{
    font-size: 28px;
    list-style: none;
    padding: 15px 8px 15px 50px;
    position: relative;
    color: white;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("./images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("./images/checked.png");
}


ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 50px;
}

ul li span:hover{
    background: rgb(175, 174, 174);
    color: black;
}


@media  screen and (max-width:480px) {
    .main-container{
        height: 100%;
    }
    .container{
    width: 100%;
    height: 81%;
    border-radius: 0;
    top: 70px;  
    padding-top: 60px;
    margin: 85px auto 0px;
    }
    .row h1{ 
    margin-top: 0;
    font-size: 30px;
    }
    .row{
    width: 90vmin;
    top: 40px;    
    }
    #addTaskBtn{
    font-weight: 400;
    width: 17vmin;
    font-size: 16px;
    }

    #taskList{
        height: 80%;
    }
}


@media  screen and (min-width:1250px) {
    .main-container{
        height: 120%;
    }
    .container{
    min-width: 120vmin;
    margin: 85px auto 0px;
    }
    .row h1{ 
    margin-top: 0;
    font-size: 55px;
    }
    .row{
    width: 110vmin;   
    }
    #taskInput{
        height: 8vmin;
        width: 66vmin;
        font-size: 19px;
    }
    #addTaskBtn{
    font-weight: 600;
    width: 19vmin;
    font-size: 18px;
    }

    #taskList{
        height: 80%;
    }
    ul li span{
    right: 40px;   
    }
}





